{
	"useTabs": true,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"arrowParens": "avoid",
	"trailingComma": "es5",
	"bracketSameLine": true,
	"semi": false,
	"plugins": ["prettier-plugin-tailwindcss"]
}
